@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-pallete-1: #5f0030;
  --color-primary-1: var(--color-pallete-1);

  --font-display: "Montserrat", sans-serif;
}
